/* Estilos básicos */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #333;
    height: 100%;
}

/* Imagen de fondo y contenedor principal */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://example.com/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

/* Contenedor principal */
.container {
    background-color: #333;
    padding: 40px;
    margin: 20px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Título y subtítulo */
.prueba1{
    text-shadow: 0px 0px 10px turquoise;
    text-shadow: 0px 0px 20px turquoise;
    font-size: 50px;
    color:turquoise;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 300;
}

/* Sección del blog */
.blog {
    text-align: left;
    margin-bottom: 30px;
}

.blog h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #f57c00;
}

.blog p {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
}

/* Estilos del formulario de citas */
.appointment {
    background-color: #e3f2fd;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.appointment h3 {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 20px;
}

.appointment label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.appointment input, .appointment textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.appointment input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.appointment input[type="submit"]:hover {
    background-color: #388e3c;
}

/* Estilo del pie de página */
footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

footer p {
    margin: 0;
    font-size: 14px;
}